<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativenavigation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="Android.intent.action.VIEW" />
            <category android:name="Android.intent.category.DEFAULT" />
            <category android:name="Android.intent.category.BROWSABLE" />
            <data
                android:host="dev-zx-bq3yz.eu.auth0.com"
                android:pathPrefix="/Android/${applicationId}/callback"
                android:scheme="${applicationId}" />
        </intent-filter>
      </activity>
    </application>
</manifest>
